.area-header-cart {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 20px 0px 10px 0px;
}

.area-cart {
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 10px;
}

.card-cart {
  width:  100%;
  height: auto;
  background-color: #fff;
  border-radius: 16px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.area-image-cart {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.image-cart {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.area-name-plant-cart {
  width: auto;
  height: auto;
  flex-grow: 1;
}

.name-plant-cart {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-dark);
  margin: 0px;
}

.type-plant-cart {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
  margin: 0px;
}

.area-price-cart {
  width: auto;
  height: auto;
}

.price-cart {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark);
  margin: 0px;
}

.area-stok-plant {
  width: auto;
  height: auto;
}

.stok-cart {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-secondary);
  margin: 0px;
}

/* area- checkout */

.lineC {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.area-checkout {
  width: auto;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin: 20px 128px 20px 128px;
}

.button-checkout {
  width: fit-content;
  height: auto;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border: none;
  font-size: 14px;
}

.text-total-checkout,
.price-total-checkout {
  margin: 0px;
  font-size: 14px;
}

.button-checkout:hover {
  background-color: var(--color-primary-dark);
}

.btn-remove {
  font-size: 12px;
  color: var(--color-secondary);
  cursor: pointer;
}

.btn-remove:hover {
  color: var(--color-dark);
  text-decoration: underline;
}

/* ++++++++++++++++++++++++++++ */
