/* .area-categorie{
    border: 1px red solid;
} */

.header-categorie {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-categorie {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-light);
}

.area-content-categorie {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0px 20px 0px;
}

.card-categorie {
  width: auto;
  height: auto;
  border: 1px #ccc solid;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 10px;
}

.card-categorie:hover {
  transform: translateY(-5px);
  background-color: var(--color-primary);
  color: var(--color-light);
}

.image-categorie {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.link-categorie {
  padding: 10px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  width: calc(25% - 15px);
}

.link-categorie:hover,
.name-categorie:hover {
  /* text-decoration: underline; */
  color: var(--color-light);
  font-weight: 700;
}

.name-categorie {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0px;
}
