/* main area oss */
/* main {
    height: 100vh;
} */



.area-welcome {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* border: 1px red solid; */
  height: auto;
}

.area-welcome-luar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  /* border: 1px blue solid; */
  margin-top: 45px;
}

.area-welcome-image{
  width: 260px;
  height: 260px;
  background-image: url('../image/imageWelcome-removebg-preview.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.area-text-welcome {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title-welcome {
  font-size: 48px;
  font-weight: bold;
  color: var(--color-dark);
  margin: 0px;
}

.desc-welcome {
  font-size: 16px;
  color: var(--color-dark);
  margin: 0px;
}

.area-button-welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-explore {
  width: 180px;
  height: 40px;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--color-dark);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}
.button-explore:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: translateY(-2px);
}

.text-button-explore {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark);
  margin: 0;
}


/* ++++++++++++++++++++++++++++ */

/* area heroo */
.area-hero {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  margin-top: 50px;
}

.area-kiri-hero {
  width: 50%;
  height: 100%;
  height: fit-content;
  /* border: 1px red solid; */
  display: flex;
  justify-content: start;
  align-items: center;
}

.area-image-hero {
  width: 100%;
  height: 450px;
  background-color: beige;
  border-radius: 24px;
  background-image: url("../image/heroSection6.jpg");
  background-size: cover;
  background-position: top;
}

.area-kanan-hero {
  width: 50%;
  /* height: 100%; */
  /* border: 1px blue solid; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.title-hero {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-dark);
  margin: 0px;
}

.desc-hero {
  font-size: 16px;
  color: var(--color-dark);
  margin: 0px;
  text-align: start;
  margin-top: 10px;
}

.header-artikel {
  text-align: right;
  /* border: 1px white solid; */
  width: auto;
}

.title-galeri {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-dark);
  margin: 0px;
  /* margin-bottom: 20px; */
}

.area-hero-artikel {
  /* width: 100%; */
  margin-top: 100px;
  height: 420px;
  display: flex;
  justify-content: start;
  align-items: end;
  /* background-color:  #F7F7F8; */
  background-image: url("../image/imageAbout.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  flex-direction: column;
  padding: 30px 35px;
}

.area-content-artikel{
  width: 50%;
  height: auto;
  /* border: 1px white solid; */
  text-align: end;
}

.desk-artikel {
  font-size: 16px;
  color: var(--color-dark);
  margin: 0px;
  margin-bottom: 20px;
}

.area-image-hero1 {
  width: 33.33%;
  height: 350px;
  background-color: beige;
  border-radius: 16px;
  background-image: url("../image/carousel1.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.area-image-hero2 {
  width: 33.33%;
  height: 350px;
  background-color: beige;
  border-radius: 16px;
  background-image: url("../image/carousel2.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.area-image-hero3 {
  width: 33.33%;
  height: 350px;
  background-color: beige;
  border-radius: 16px;
  background-image: url("../image/carousel3.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}



/* ++++++++++++++++++++++++++++ */
