@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Warna dasar */
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-primary: #B6F500;

  --color-primary-light: #DFFF4C;
  --color-primary-dark: #8CC700;  
  --color-bg: var(--color-dark);   
  --color-text: var(--color-light);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  /* background-color: var(--color-bg); */
  /* color: var(--color-text); */
}

/* navbar area */
nav {
  /* border: 1px black solid; */
  width: auto;
  height: 60px;
  padding: 10px 128px;
  position: sticky;
  top: 0;
    background-color: var(--color-light);
}

.area-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* border: 1px red solid; */
  background-color: var(--color-light);
  border-radius: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-dark);
  text-decoration: none;
  font-family: "POppins", sans-serif;
}

.area-menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-menu {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-dark);
  text-decoration-color: transparent; /* awalnya transparan */
  text-underline-offset: 2px; /* jarak underline dari teks */
  font-weight: 500;
}

.link-menu:hover {
  text-decoration-color: var(--color-primary);
  text-decoration: underline;

  transition: 0.3s;
}

.button-login {
  padding: 8px 16px;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login:hover {
  background-color: var(--color-primary-dark);
  transition: 0.3s;
}

.link-login {
  text-decoration: none;
  color: var(--color-dark);
}
/* ++++++++++++++++++++++++++++ */

/* footer */
footer {
  width: 100%;
  height: 60px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-footer {
  width: auto;
  height: auto;
}

.text-footer {
  color: var(--color-light);
  font-size: 14px;
}