@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Warna dasar */
  --color-dark: #1A1A1A;
  --color-light: #ffffff;
  --color-primary: #355f3e;

  --color-primary-light: #dfff4c;
  --color-primary-dark: #8cc700;
  --color-bg: var(--color-dark);
  --color-text: var(--color-light);
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
}

p{
  margin: 0px;
  padding: 0px;
}

/* navbar area */
nav {
  /* border: 1px black solid; */
  width: auto;
  height: 80px;
  padding: 10px 128px;
  position: sticky;
  top: 0;
  background-color: var(--color-light);
  z-index: 99;
}

.area-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* border: 1px red solid; */
  background-color: var(--color-light);
  border-radius: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-dark);
  text-decoration: none;
  font-family: "POppins", sans-serif;
}

.area-menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-menu {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-dark);
  text-decoration-color: transparent; /* awalnya transparan */
  text-underline-offset: 2px; /* jarak underline dari teks */
  font-weight: 500;
}

.link-menu:hover {
  text-decoration-color: var(--color-primary);
  text-decoration: underline;

  transition: 0.3s;
}

.button-login {
  padding: 8px 16px;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.button-login:hover {
  background-color: var(--color-primary-dark);
  transition: 0.3s;
}

.link-login {
  text-decoration: none;
  color: var(--color-light);
  padding: 0px;
  margin: 0px;
}

.area-modal-login {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px red solid; */
}

.area-modal-image {
  width: 100%;
  height: 200px;
  background-image: url("../image/stacked-waves-haikei\ \(1\).png");
  background-size: cover;
  background-position: bottom;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-login {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.form-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-login-brand {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-light);
  font-family: "Poppins", sans-serif;
}

.line {
  width: 60%;
  height: 1px;
  background-color: #d0d0d6;
  border-radius: 8px;
  margin: 30px 0px 10px 0px;
}

.title-login {
  font-size: 20px;
  font-weight: 500;
  color: #979797;
  font-family: "Poppins", sans-serif;
}
.title-logout {
  font-size: 18px;
  font-weight: 500;
  color: #979797;
  font-family: "Poppins", sans-serif;
}

.input-login {
  width: 60%;
  height: 36px;
  border: 1px solid #d0d0d6;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 14px;
  margin-top: 6px;
}

.input-login:focus {
  outline: none;
}

.input-login::placeholder {
  font-size: 14px;
  color: #d0d0d6;
  font-family: "poppins", sans-serif;
}

.button-submit-login {
  width: 60%;
  height: 36px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

/* register */
.button-register {
  padding: 8px 16px;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.button-register:hover {
  background-color: var(--color-primary-dark);
  transition: 0.3s;
}

.link-register {
  text-decoration: none;
  color: var(--color-light);
  padding: 0px;
  margin: 0px;
}

.area-modal-register {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px red solid; */
}

.area-modal-image-register {
  width: 100%;
  height: 390px;
  background-image: url("../image/stacked-waves-haikei\ \(1\).png");
  background-size: cover;
  background-position: bottom;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.tagline-register {
  font-size: 38px;
  font-weight: bold;
  color: var(--color-light);
  font-family: "Poppins", sans-serif;
}

.area-register {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.form-register {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-brand-register {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-dark);
  font-family: "Poppins", sans-serif;
}

.line {
  width: 60%;
  height: 1px;
  background-color: #d0d0d6;
  border-radius: 8px;
  margin: 0px 0px 10px 0px;
}

.title-register {
  font-size: 20px;
  font-weight: 500;
  color: #979797;
  font-family: "Poppins", sans-serif;
}
.title-logout {
  font-size: 18px;
  font-weight: 500;
  color: #979797;
  font-family: "Poppins", sans-serif;
}

.input-register {
  width: 80%;
  height: 36px;
  border: 1px solid #d0d0d6;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 14px;
  margin-top: 6px;
}

.input-register:focus {
  outline: none;
}

.input-register::placeholder {
  font-size: 14px;
  color: #d0d0d6;
  font-family: "poppins", sans-serif;
}

.button-submit-register {
  width: 60%;
  height: 36px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.span-register {
  font-size: 12px;
  margin-top: 10px;
}

.textS {
  cursor: pointer;
}

.textS:hover {
  text-decoration: underline;
}

/* ++++++++++++++++++++++++++++ */

/* main konten */
section {
  padding: 0px 128px;
  /* margin-top: 40px; */
  /* width: 100%; */
  min-height: calc(100vh - 80px);
  height: auto;
  /* background-color: antiquewhite; */
}
/* =========================== */

/* footer */
footer {
  width: 100%;
  height: 60px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-footer {
  width: auto;
  height: auto;
}

.text-footer {
  color: var(--color-light);
  font-size: 14px;
  margin: 0px;
}

.notifAlert {
  width: auto;
  height: auto;
}

.textNotif {
  color: rgb(241, 35, 35);
  font-size: 14px;
  margin: 0px;
}


/* Floating Cart */
#cart-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

/* Button */
#cart-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
  border: 2px white solid;
}

/* Badge */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}

/* Panel */
#cart-panel {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,.25);
  transition: all .35s ease;
}

/* Active */
#cart-panel.active {
  max-height: 420px;
}

/* Panel Content */
.cart-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.title-cart{
  margin: 0px;
  padding: 0px;
}

.iconClose{
  font-size: 28px;
  color: var(--color-light);
  cursor: pointer;
}

.cart-body {
  padding: 16px;
  font-size: 14px;
  overflow: auto;
  max-height: 320px;  
}

.cart-footer {
  padding: 16px;
}

.btn-cart {
  display: block;
  text-align: center;
  padding: 10px;
  background: #2e7d32;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.cart-item img {
  width: 35px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item .name {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}

.cart-item .qty {
  font-size: 12px;
  color: #777;
}

