.area-order {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-order {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('../image/layered-waves-haikei\ \(1\).png');
  background-size: cover;
  background-position: bottom; */
  /* border-radius: 24px; */
  margin-bottom: 20px;
}

.title-order {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-light);
}

.content-order {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.card-order {
  width: calc(50% - 12px);
  height: fit-content;
  background-color: var(--color-white);
  border-radius: 24px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  cursor: pointer;
}

.area-order-info {
  padding: 10px;
}

.area-header-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.area-info-kiri {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.order-id {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 600;
}

.order-date {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: rgb(90, 90, 90);
}

.area-info-kanan {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.button-status {
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background-color: #e6f4f1;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}

.order-status {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-dark);
}

.area-action-button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button-items {
  width: fit-content;
  height: auto;
  background-color: var(--color-dark);
  color: white;
  padding: 8px 8px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border: none;
  font-size: 12px;
  margin-top: 10px;
}

.button-payment {
  width: fit-content;
  height: auto;
  background-color: var(--color-primary);
  color: white;
  padding: 8px 8px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border: none;
  font-size: 12px;
  margin-top: 10px;
}

.area-order-items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.order-item {
  width: 100%;
  display: flex;
  /* border: 1px black solid; */
  flex-direction: column;
  background-color: var(--color-light);
  gap: 10px;
  padding: 10px;
}

.area-luar-image {
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: end;
  /* border: 1px solid rgba(0, 0, 0, 0.06); */
  border-radius: 12px;
}

.image-item {
  width: 100px;
  height: auto;
  background-size: cover;
  border-radius: 8px;
}

.area-info-item {
  /* border: 1px solid rgba(0, 0, 0, 0.06); */
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F7F7F8;
  color: var(--color-dark);
}

.card-order-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area-name-qty {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.item-name {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 600;
}

.item-quantity {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.area-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.item-price {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  /* font-weight: 300; */
}

.item-price span {
  font-weight: 600;
}

.area-cart-modal {
  padding: 20px;
}

.area-form-cart-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-payCard {
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  color: var(--color-dark);
  text-align: center;
}

.area-form-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-method {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.area-method {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  background-color: var(--color-light);
  padding: 0px 20px;
  height: 60px;
  border-radius: 12px;
}

.area-method-kiri {
  display: flex;
  align-items: center;
  gap: 12px;
}

.area-method-kanan {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-method-kanan input[type="radio"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.area-image-method {
  width: auto;
  height: auto;
}

.image-method {
  width: 60px;
  height: auto;
  background-size: cover;
}

.line-payment {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
}

.area-struk {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.area-total-bayar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.text-total-bayar {
  font-size: 14px;
  font-weight: 500;
  color: rgb(150, 150, 150);
  margin: 0px;
}

.price-total-bayar {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

.button-payment-final {
  width: 100%;
  height: auto;
  background-color: var(--color-dark);
  color: white;
  padding: 12px 8px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  border: none;
  font-size: 14px;
  margin-top: 10px;
}
